{{ define "body_classes" }}page-team-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ partial "intro-image.html" . }}
    </div>
  </div>
</div>


<!-- default list layout of team -->
<!--
<div class="container">
  <div class="row">
    {{ range where .Pages.ByWeight ".Params.promoted" true }}
    <div class="col-12 col-md-6 mb-2">{{ .Render "summary-large" }}</div>
    {{ end }}
  </div>
  <div class="row  pt-6 pb-6">
    {{ range where .Pages.ByWeight ".Params.promoted" "!=" true}}
    <div class="col-12 col-md-4 mb-3">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
-->

<!-- team list page from https://bootdey.com/snippets/view/bs5-team-member-details -->
<div class="container">
    <div class="row justify-content-center">
      {{ range where .Pages.ByWeight ".Params.promoted" true }}
        <div class="col-12 col-md-4 mb-3">
            <div class="card border-0 shadow">
            {{ if .Params.image }}
              <img width="240" alt="Photo of {{ .Title }}" class="img-fluid mb-2" style="text-align: center;" src="{{ .Params.image | relURL }}" />
            {{ end }}
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">{{ .Title }}</h3>
                        <span class="text-primary">{{ .Params.JobTitle }}</span>
                    </div>
                    {{ if .Params.Linkedinurl }}
                      <a target="_blank" rel="noreferrer" href="{{ .Params.Linkedinurl }}">
                        <i class="fa-brands fa-linkedin"></i>
                      </a> 
                    {{ end }}
                    {{ if .Params.Twitterhandle }}
                      <a target="_blank" rel="noreferrer" href="https://twitter.com/{{ .Params.Twitterhandle }}">
                        <i class="fa-brands fa-square-twitter"></i>
                      </a>  
                    {{ end }}
                    {{ if .Params.Github }}
                      <a target="_blank" rel="noreferrer" href="https://twitter.com/{{ .Params.Github }}">
                        <i class="fa-brands fa-square-github"></i>
                      </a>  
                    {{ end }}
                    {{ if .Params.Websiteurl }}
                      <a target="_blank" rel="noreferrer" href="https://twitter.com/{{ .Params.Websiteurl }}">
                        <i class="fa-solid fa-globe"></i>
                      </a>  
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">#About</h2>
                    </div>
                    <p>{{ .Content }}</p>
                </div>
            </div>
        </div>
      {{ end }}
    </div>
</div>
{{ end }}