/*------------------------*/
/* General customizations
/*------------------------*/

.intro {
    padding-top: 60px;
    padding-bottom: 80px;
}

.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pt-6 {
    padding-top: 20px !important;
}

h2 {
    font-weight: bold;
}

.service-title {
    font-weight: normal !important;
}

/*------------------------*/
/* Features strip
/*------------------------*/

.strip {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pb-md-10 {
    padding-bottom: 10px !important;
}

/*------------------------*/
/* forms
/*------------------------*/

form > div {display: flex; flex-direction: column; gap: 0.25rem; margin-bottom: 1rem;}
form > div.radio + div.radio {margin-top: -1rem;}
input, textarea, select {
    font-size: 1rem;
    padding: 0.5em 0.5em;
    border: 1px solid #0396FF;
    color: var(--textDark);
    border-radius: 0.25rem;
}
textarea {resize: vertical; height: 9rem;}
input[type="checkbox"], input[type="radio"] {margin-right: 0.5rem; cursor: pointer;} 
form > div.submit {padding-top: 0.55rem;}
form h3 {padding-top: 0; padding-bottom: 1rem;}
label.inborder {
    position: absolute; 
    background: white; 
    font-size: 0.85rem; 
    line-height: 1;
    padding: 0 0.25rem;
    margin-left: 0.6rem;
    display: inline-block;
    z-index: 2;
}
label.inborder + * {margin-top: 0.5rem;}
div.box label.inborder::after {
    background: linear-gradient(var(--light) 50%, white 50%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    z-index: -1;
}

/*------------------------*/
/* content / About
/*------------------------*/

.about-content {
    font-size: 1.1rem;
    // font-family: Noto Sans, Helvetica, Arial, sans-serif, -apple-system;
    padding-bottom: 20px;
}
